@using Launcher.Components.SVG

<div class="side-content-wrapper">

    <Corner Class="corner top-right"/>

    <Corner Class="corner bottom-right"/>

    <div class="side-content-holder">

        <section class="recents">
            <span class="fl-text section-title">RECENT ACCOUNTS</span>
            <div class="separator"/>
        </section>

        <section class="favorites">
            <span class="fl-text section-title">FAVORITE ACCOUNTS</span>
            <div class="separator" />
        </section>

        <button class="fl-button launch-button" @onmouseenter="OnMouseEnter" @onclick="OnClick">
            <span class="fl-text">LAUNCH GAME</span>
        </button>
    </div>

</div>

@code {
    void OnMouseEnter(MouseEventArgs e)
    {
        System.Diagnostics.Debug.WriteLine(e.Type);
    }

    void OnClick()
    {
        System.Diagnostics.Debug.WriteLine("clicke");
    }
}
