@using Launcher.Components.SVG

<div class="side-content-wrapper">

    <Corner Class="corner top-right"/>

    <Corner Class="corner bottom-right"/>

    <div class="side-content-holder">

    </div>

</div>

@code {

}
