@using Launcher.Components.SVG
@using Launcher.Components.Generic
@using Microsoft.AspNetCore.Components.Routing

@inject NavigationManager Navigation

<div class="top-bar-wrapper">
	<TopBarShape Class="top-bar-shape" />
	<div class="top-bar-content-holder">
		@foreach(var tab in tabData)
		{
			<div class="tab">
				<Tab Data="tab" IsSelected="@(currentRoute == tab.route)" OnChange="OnTabClick"/>
			</div>
		}
	</div>
</div>

@code {

    Tab.TabData[] tabData = new Tab.TabData[]
    {
        new ("Tab_News", "News", "news"),
        new ("Tab_ExternalSettings", "Ext. Settings", "externalsettings"),
        new ("Tab_GameSettings", "Game Settings", "gamesettings"),
        new ("Tab_Accounts", "Accounts", "accounts")
    };

    string? currentRoute;

    protected override void OnInitialized()
    {
        Navigation.LocationChanged += OnLocationChanged;
    }

    void OnTabClick(Tab.TabData args)
    {
        Navigation.NavigateTo($"/{args.route}");
    }

    void OnLocationChanged(object? sender, LocationChangedEventArgs? args)
    {
        if (args is not null)
        {
            currentRoute = args.Location.Split("/").Last();
            StateHasChanged();
        }
    }
}
