@using Launcher.Components.SVG
@using Launcher.Components.Generic

<div class="top-bar-wrapper">
	<TopBarShape Class="top-bar-shape" />
	<div class="top-bar-content-holder">
		<div class="tab">
			<Tab Icon="News" Label="News"/>
		</div>
		<div class="tab">
			<Tab Icon="Settings" Label="Settings" />
		</div>
	</div>
</div>

@code {

}
