@using Launcher.Utils


<div class="tab-container@(IsSelected? " selected" : "")" @onclick="handleClick">
	<svg viewBox="@icon?.viewBox" class="icon">
		<path d="@icon?.geometry" />
	</svg>
	<span class="fl-text">@Data.label.ToUpper()</span>
</div>


@code {

	public record TabData(string icon, string label, string route);

	[Parameter]
	public TabData Data { get; set; } = new TabData("", "Tab", "");

	[Parameter]
	public bool IsSelected { get; set; } = false;

	[Parameter]
	public EventCallback<TabData> OnChange { get; set; }

	private string _iconKey = "";
	private Icon? icon;


	private async void handleClick()
	{
		IsSelected = !IsSelected;
		await OnChange.InvokeAsync(Data);
	}

	protected override void OnInitialized()
	{
		_iconKey = Data.icon;
		assignIconResource();
	}

	protected override void OnParametersSet()
	{
		if (_iconKey != Data.icon)
		{
			assignIconResource();
			_iconKey = Data.icon;
		}
	}


	private void assignIconResource()
	{
			Utils.Icon.Presets.TryGetValue(_iconKey, out icon);
	}
}
