.main-layout {
    display: grid;
    grid-template-columns: 750px auto;
    grid-template-rows: auto 30px 450px 30px 80px;
    grid-template-areas:
        "top ."
        "mid ."
        "mid side"
        "mid ."
        "bottom .";
}

.top-container {
    grid-area: top;
    margin: 30px 60px 0 60px;
}

.top-container svg {
    margin-bottom: -10px;
}

.mid-container {
    grid-area: mid;
}

.side-container {
    grid-area: side;
    background: green;
    margin-left: -10px;
    z-index: -1;
}

.bottom-container {
    grid-area: bottom;
    background: blue;
}