
<SVGDefs/>
<div class="main-layout">
    <div class="top-container">
        <svg viewBox="0 0 957 153">
            <g>
                <polygon class="scan-line-svg" points="891 1 60 2 16 40 17 152 936.67 152 937 41 891 1" />
                <path class="frame-stroke-svg" d="M891.37,0,938,40.55,937.67,153H16L15,39.55,59.63,1H60ZM936,41.46,890.63,2,60.37,3,17,40.45,18,151H935.68Z" />
                <polygon class="frame-edge-svg" points="956 152 956 115.55 940 116 914.4 152 956 152" />
                <polygon class="frame-edge-svg" points="1 152 1 115.55 17 116 42.6 152 1 152" />
            </g>
        </svg>
    </div>
</div>

@code {

}
