<SVGDefs/>
<div class="main-layout">
    <div class="top-container">
        <svg viewBox="0 0 957 153">
            <defs>
                <style>
                    .cls-1 {
                        fill: #1b1345;
                    }

                    .cls-2 {
                        fill: #7fb7d2;
                        filter: drop-shadow(0px 0px 5px #a1d6fa);
                    }

                    .cls-3 {
                        fill: #182948;
                        stroke: #1ea7c6;
                        stroke-miterlimit: 10;
                        stroke-width: 2px;
                    }
                </style>
            </defs>
            <g>
                <polygon fill="url(#scan-line-gradient)" points="891 1 60 2 16 40 17 152 936.67 152 937 41 891 1" />
                <path class="cls-2" d="M891.37,0,938,40.55,937.67,153H16L15,39.55,59.63,1H60ZM936,41.46,890.63,2,60.37,3,17,40.45,18,151H935.68Z" />
                <polygon class="cls-3" points="956 152 956 115.55 940 116 914.4 152 956 152" />
                <polygon class="cls-3" points="1 152 1 115.55 17 116 42.6 152 1 152" />
            </g>
            @* <clipPath id="myClip">
                <polygon points="891 1 60 2 16 40 17 152 936.67 152 937 41 891 1" />
            </clipPath> *@
        </svg>
        @* <div style="width: 100%; height: 100%; background: red; clip-path: view-box polygon(891 1, 60 2, 16 40, 17 152, 936.67 152, 937 41, 891 1);">
            hello
        </div> *@
    </div>
</div>

@code {

}
