<div class="mid-content-wrapper">

    <svg viewBox="0 0 381 294" preserveAspectRatio="none" class="mid-frame-img">
        <path d="M11.75 292.75L1.75 278.75L1.75 218.75L6.75 209.75L6.75 82.75L1.75 72.75L1.75 13.75L11.75 1.25H369.25L379.75 13.75V72.75L375.25 82.25V210.105L379.75 219.75V278.75L368.75 292.75H11.75ZM304.388 276.25H367.25V179.75L364.25 171.25V121.75L367.25 112.75V17.25H304.75L292.75 12.75H79.75L67.75 17.25H13.75L13.75 112.75L16.75 120.75L16.75 170.75L13.75 179.75L13.75 276.25H67.25L79.25 281.25H291.25L304.388 276.25Z"
              fill="var(--color-frame-edge-dark-background)" />
        <path d="M0.75 279.07L0.75 218.491L5.75 209.491L5.75 82.9861L0.75 72.9861L0.75 13.3992L11.2694 0.25H369.716L380.75 13.3857V72.9749L376.25 82.4749V209.883L380.75 219.528V279.096L369.236 293.75H11.2354L0.75 279.07ZM2.75 278.43L12.2646 291.75H368.264L378.75 278.404V219.972L374.25 210.327V82.0251L378.75 72.5251V14.1143L368.784 2.25H12.2306L2.75 14.1008L2.75 72.5139L7.75 82.5139L7.75 210.009L2.75 219.009L2.75 278.43ZM12.75 277.25L12.75 179.588L15.75 170.588L15.75 120.931L12.75 112.931L12.75 16.25H67.5686L79.5687 11.75H292.931L304.931 16.25H368.25V112.912L365.25 121.912V171.079L368.25 179.579V277.25H304.572L291.434 282.25H79.05L67.05 277.25H12.75ZM14.75 275.25H67.45L79.45 280.25H291.066L304.204 275.25H366.25V179.921L363.25 171.421V121.588L366.25 112.588V18.25H304.569L292.569 13.75H79.9314L67.9313 18.25H14.75L14.75 112.569L17.75 120.569L17.75 170.912L14.75 179.912L14.75 275.25Z"
              fill="var(--color-frame-edge-dark)" />
    </svg>

    <div class="mid-content-holder">
        hewwo
    </div>

</div>


