@using Launcher.Components.Generic

<div class="bottom-bar-wrapper">
    <BottomBarShape Class="bottom-bar-shape"/>
    <div class="progress-bar-container">
        <ProgressBar Progress="35" Buffer="60"/>
    </div>
</div>

@code {

}
